.babelrc
bower.json
examples
readme.md
src/**/*

.vscode/**/*
.rules/**/*
.meteor*
tslint.json
tsconfig.json
.editorconfig
node_modules
test/**/*
.git/**/*

.gitignore

**/*.ts
!**/*.d.ts

**/*.js.map
*.tgz
!vendor/*.tgz
